.progress {
    height: 25px;
}

.progress-bar {
    background-color: darkcyan;
    height: 100%;
}

a {
    font-weight: bold;
    text-decoration: inherit;
    color: darkcyan;
}

footer {
    font-size: 10px;
}